<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
       <add key="surging.local.repo" value="./nupkg" />
	   <!--<add key="surging.repo" value="http://192.168.31.115:8081/nuget" />-->
	   <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
</configuration>